
<h1>Clientes</h1>

<!-- LISTAR CLIENTE-->
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="c in clientes">
            <td>{{c.Id}}</td>
            <td>{{c.Nome}}</td>
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#cadastrarModal">
    Novo
</button>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editarModal">
    Editar
</button>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removerModal">
    Remover
</button>

<!-- MODAL CADASTRAR -->
<div class="modal fade" id="cadastrarModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" placeholder="Fulano" ng-model="cadastrar.nome">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" ng-click="cadastrar()" data-dismiss="modal">Cadastrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL EDITAR -->
<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="number" class="form-control" ng-model="editar.id">
                </div>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" placeholder="Fulano" ng-model="editar.nome">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" ng-click="editar()" data-dismiss="modal">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL REMOVER -->
<div class="modal fade" id="removerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remover</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="number" class="form-control" ng-model="remover.id">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" ng-click="remover()" data-dismiss="modal">Remover</button>
            </div>
        </div>
    </div>
</div>
